@using JamesRiverLevel
@using JamesRiverLevel.Models
@model JamesRiverLevel.ViewModel.DisplayViewModel
@{
    ViewBag.Title = "Index";
}

@helper GetAlertClass() {
    switch (Model.ActionLevel)
    {
        case WaterLevelAction.LifeJacket:
@:warning
            break;
            case WaterLevelAction.Permit:
@:alert
            break;
    }
}

@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script> $(function() {
     $('#highchart').highcharts({
         legend: false,
         credits: false,
        title: {
            text: 'Water Level Forecast'
        },
        xAxis: {
            type: 'datetime',
            plotLines:[{
                value:@Model.WaterLevelWhen.ToUnixTimeMilliseconds(),
                color: '#999',
                width:2,
                zIndex:10,
                label:{text:'Current Water Level'}
            }]
        },
        yAxis: {
            min: 0,
            title: { text: 'water level (ft)' },
            plotLines:[{
                value:5,
                color: '#abb60d',
                width:1,
                zIndex:4,
                label:{text:'Life Jacket Required'}
            },
                {
                    value:9,
                    color: '#a41717',
                    width:1,
                    zIndex:4,
                    label:{text:'Permit Required'}
                }
            ]
        },
        series: [{
                data: [
                    @foreach (var item in Model.Observed)
                    {
                        @:{x: @(item.Key.ToUnixTimeMilliseconds()), y: @(item.Value), color: '#333', name: 'Observed Water Level'},
                    }
                    @foreach (var item in Model.Future)
                    {
                        @:{ x: @(item.Key.ToUnixTimeMilliseconds()), y: @(item.Value) },
                    }
                ]
            }
        ],
        tooltip: {
            pointFormat: '<b>{point.y:.2f}</b> ft'
        },
        plotOptions: {
            series: {
                animation: false
            }
        }
    });
    
     $('#display-forecast').click(function() {
         $(this).hide();
         $('#highchart').show();
         $('.container').css('height', '820px');
     })
}); </script>
    }

    <div class="container">
        <span class="large bold @GetAlertClass()">@(Model.WaterLevel)@(Model.WaterLevelUnit)</span> <br /><span class="grey"> and @Model.Trend.ToString().ToLower() as of <span title="@Model.WaterLevelWhen.ToString("MMMM dd, yyyy a\\t h:mm tt")">@Model.WaterLevelWhenUtc.ToPrettyFormat()</span> ago</span><br /><br />
        
        @switch (Model.ActionLevel)
        {
            case WaterLevelAction.Permit:
                <span class="medium">By law, <strong class="alert">no one is allowed on the river without a permit</strong>.</span>
                break;
            case WaterLevelAction.LifeJacket:
                <span class="medium">By law, you are required to <strong class="warning">wear a life jacket</strong>.</span>
                break;
            case WaterLevelAction.None:
                <span class="medium">No water level restrictions in place.</span>
                break;
        }
        <br /><br /><br />
        
        @switch (Model.FloodingCategoryForecast)
        {
            case FloodingCategoryForecast.Flood:
            case FloodingCategoryForecast.Moderate:
            case FloodingCategoryForecast.Major:
            case FloodingCategoryForecast.Record:
                <span class="bold">Flooding is forecasted. Pay attention to the National Weather Service advisories and local media.</span><br />
            break;

    }
        <a href="#" id="display-forecast">display water level forecast</a>
        <div class="clear"></div>
        <div id="highchart"></div>
        
        
    </div>
    

<footer>for informational use only. obey all posted signage and law enforcement personal. do not make life decisions based on this information obtained here.<br /><a href="http://water.weather.gov/ahps2/hydrograph.php?wfo=akq&gage=rmdv2" target="_blank">data from national weather service</a> | created by <a href="http://stevenvondruska.com/" target="_blank">steven vondruska</a></footer>
    
<!-- Generated at @DateTime.Now.ToString()  NWS Data from @Model.DataObtainedAt.ToString() -->