@using JamesRiverLevel
@using JamesRiverLevel.Models
@model JamesRiverLevel.ViewModel.DisplayViewModel
@{
    ViewBag.Title = "James River Water Level";
}

@helper GetAlertClass() {
    switch (Model.ActionLevel)
    {
        case WaterLevelAction.LifeJacket:
@:warning
            break;
            case WaterLevelAction.Permit:
@:alert
            break;
    }
}

@section scripts
{
    <script>JamesRiverLevel.init("@Url.Action("GetChartData")");</script>
    }
        <span class="large bold @GetAlertClass()">@(Model.WaterLevel)@(Model.WaterLevelUnit)</span> <br /><span class="grey"> and @Model.Trend.ToString().ToLower() as of <span title="@Model.WaterLevelWhen.ToString("MMMM dd, yyyy a\\t h:mm tt")">@Model.WaterLevelWhenUtc.ToPrettyFormat()</span> ago</span><br /><br />
        
        @switch (Model.ActionLevel)
        {
            case WaterLevelAction.Permit:
                <span class="medium">By law, <strong class="alert">no one is allowed on the river without a permit</strong>.</span>
                break;
            case WaterLevelAction.LifeJacket:
                <span class="medium">By law, you are required to <strong class="warning">wear a life jacket</strong>.</span>
                break;
            case WaterLevelAction.None:
                <span class="medium">No water level restrictions in place.</span>
                break;
        }
        <br /><br /><br />
        
        @switch (Model.FloodingCategoryForecast)
        {
            case FloodingCategoryForecast.Flood:
            case FloodingCategoryForecast.Moderate:
            case FloodingCategoryForecast.Major:
            case FloodingCategoryForecast.Record:
                <span class="bold">Flooding is forecasted. Pay attention to the National Weather Service advisories and local media.</span><br />
            break;

    }
        <a href="#" id="display-forecast">display water level forecast</a>

        <div id="chart"></div>
       


    
<!-- Generated at @DateTime.Now.ToString()  NWS Data from @Model.DataObtainedAt.ToString() -->